In [1]:
print('Hello World!')

Hello World!

In [2]:
y=2
x=4

In [3]:
x+y

6

In [5]:
print(x+y)
x-y

6

2

In [7]:
mynums = [1, 2, 3, 4, 5]

In [9]:
for n in mynums:
    print(n)

1
2
3
4
5

In [10]:
mynums?

Type:        list
String form: [1, 2, 3, 4, 5]
Length:      5
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [11]:
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [12]:
sum

In [13]:
sum?

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

In [17]:
import pandas as pd

In [18]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  4
4  5

In [19]:
print(mynums)

[1, 2, 3, 4, 5]

In [21]:
mynums.sort(reverse=True)

In [22]:
mynums

[5, 4, 3, 2, 1]

In [23]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [24]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [25]:
%debug

> /tmp/ipykernel_18520/1746220672.py(3)<module>()
      1 x = 1+1
      2 y = 1-1
----> 3 z = x/y

ipdb>  x

2

ipdb>  y

0

ipdb>  z

*** NameError: name 'z' is not defined

ipdb>  exit()

print('sla')

#AFAF
##asdasd
###asdasd

# SEI LA1

##

asdasd

### AFASDFSD

'asd'

` asdasd`

***

In [26]:
* asdasd

SyntaxError: can't use starred expression here (3946942681.py, line 1)

* asdasd

   * ddddDD