In [2]:
import pandas as pd

Import all the files

In [3]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Step 1: Inspect the DataFrames using `print` and `head`

In [4]:
print(visits.head(5))
print(cart.head(5))
print(checkout.head(5))
print(purchase.head(5))

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Step 2: Left merging visits and cart

In [14]:
visits_cart = pd.merge(visits, cart, how='left')

Step 3: How long is `visits_cart`?

In [15]:
len(visits_cart)

2000

Step 4: How many timestamps are null for `cart_time`?

In [26]:
time = visits_cart[visits_cart.cart_time.isnull()]
timed = time.cart_time.isnull().count()
print(timed)

1652

Step 5: What percentage only visited?

In [32]:
visited = visits_cart.visit_time.count()
print(visited)

percentage = 100*(timed)/visited
print(str(percentage)+'%')

2000
82.6%

Step 6: What percentage placed a t-shirt in their cart but did not checkout?

In [45]:
cart_checkout = pd.merge(cart, checkout, how='left')
print(cart_checkout)
cart_check_left = cart_checkout[cart_checkout.checkout_time.isnull()]

checkouted = cart_check_left.checkout_time.isnull().count()

carted = cart_checkout.cart_time.count()

percentage = 100*(checkouted)/carted

print(str(percentage)+'%')

                                  user_id           cart_time  \
0    2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1    4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2    a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3    b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4    a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
..                                    ...                 ...
343  952be3a5-9240-484f-845c-a6b2cbed72ee 2017-05-02 05:40:00
344  59d2b685-383a-4fce-a325-35d985713a8b 2017-01-20 03:58:00
345  a1203970-92ae-4fc7-843e-e1740c1be9d5 2017-11-12 23:07:00
346  55de53ae-89f6-43ff-a26d-df284678aca1 2017-03-17 19:56:00
347  0ea4cc68-dae4-4e35-b3e0-f0889932e1b5 2017-05-12 08:53:00

          checkout_time
0   2017-11-07 21:14:00
1                   NaT
2   2017-03-04 11:04:00
3   2017-09-27 08:26:00
4                   NaT
..                  ...
343 2017-05-02 05:50:00
344                 NaT
345                 NaT
346 2017-03-17 20:04:00
347 2017-05-12 08:57:00

[348 rows x 3 columns]
35.05747126436781%

Step 7: Merge it all together

In [68]:
all_data = pd.merge(visits_cart, cart_checkout, how='left').merge(purchase,how='left')
all_data

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT
...,...,...,...,...,...
2103,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT,NaT,NaT
2104,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT,NaT,NaT
2105,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT,NaT,NaT
2106,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT,NaT,NaT
2107,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT,NaT,NaT

Step 8: % of users who got to checkout but did not purchase

In [60]:
checkout_purchase = pd.merge(checkout, purchase, how='left')
print(checkout_purchase)

checkout_count = checkout.checkout_time.count()
print(checkout_count)

purchase_null_count = checkout_purchase.purchase_time.isnull().count()
print(purchase_null_count)

percentage = 100*(checkout_count)/purchase_null_count
print(str(percentage)+'%')

                                  user_id       checkout_time  \
0    d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1    d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
2    d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
3    4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
4    3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
..                                    ...                 ...
329  55de53ae-89f6-43ff-a26d-df284678aca1 2017-03-17 20:04:00
330  58545be1-0a55-4d26-b584-df26e258d0ed 2017-07-20 01:35:00
331  c62fdf2f-3b30-4624-8463-d3961e687997 2017-11-21 22:58:00
332  f3dd7631-3cf6-4d49-9c6e-b48eda4432b5 2017-01-04 10:20:00
333  ba011b1d-6cc5-4147-ae8a-1722a1f5c27c 2017-10-24 08:32:00

          purchase_time
0   2017-06-25 09:49:00
1   2017-06-25 09:56:00
2   2017-06-25 09:57:00
3                   NaT
4                   NaT
..                  ...
329                 NaT
330                 NaT
331 2017-11-21 23:00:00
332                 NaT
333                 NaT

[334 rows x 3 columns]
226
334
67.66467065868264%

Step 9: check each part of the funnel, let's print all 3 of them again

In [61]:
#second

*The weakest part of the funnel is clearly getting a person who visited the site to add a tshirt to their cart. Once they've added a t-shirt to their cart it is fairly likely they end up purchasing it. A suggestion could be to make the add-to-cart button more prominent on the front page.*


Step 10: adding new column

In [70]:

all_data['diff'] = all_data.purchase_time - all_data.visit_time
print(all_data)

                                   user_id          visit_time  \
0     943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3     6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4     a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
...                                    ...                 ...
2103  33913ac2-03da-45ae-8fc3-fea39df827c6 2017-03-25 03:29:00
2104  4f850132-b99d-4623-80e6-6e61d003577e 2017-01-08 09:57:00
2105  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70 2017-09-07 12:56:00
2106  b01bffa7-63ba-4cd3-9d93-eb1477c23831 2017-07-20 04:37:00
2107  0336ca81-8d68-443f-9248-ac0b8ad147d5 2017-11-15 10:11:00

               cart_time       checkout_time       purchase_time  \
0                    NaT                 NaT                 NaT
1    2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2    2017-08-20 08:31:00                 NaT                 NaT
3                    NaT                 NaT                 NaT
4                    NaT                 NaT                 NaT
...                  ...                 ...                 ...
2103                 NaT                 NaT                 NaT
2104                 NaT                 NaT                 NaT
2105                 NaT                 NaT                 NaT
2106                 NaT                 NaT                 NaT
2107                 NaT                 NaT                 NaT

                diff
0                NaT
1    0 days 00:44:00
2                NaT
3                NaT
4                NaT
...              ...
2103             NaT
2104             NaT
2105             NaT
2106             NaT
2107             NaT

[2108 rows x 6 columns]

Step 11: examine the results

In [ ]:
examinado kkkkkk

Step 12: average time to purchase

In [71]:
all_data['diff'].mean()

Timedelta('0 days 00:43:12.380952380')